@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(
    90deg,
    rgba(253, 234, 254, 1) 0%,
    rgba(238, 233, 255, 1) 100%
  );
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Inter", sans-serif;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  padding-inline: 7px;
  background-color: white;
  border-radius: 4rem;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  transition: 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);

  & .search-form {
    width: 0;
    opacity: 0;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
  }

  & .search-input {
    width: 100%;
    padding-left: 14px;
    margin-right: 3px;
    border: 0;
    border-radius: 4rem;
    font-weight: 500;
    font-size: 0.9rem;
    pointer-events: none;
    align-self: stretch;
  }

  & .search-submit-btn,
  & .search-toggle-btn {
    display: grid;
    place-items: center;
    flex-shrink: 0;
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
  }

  & .search-submit-btn {
    width: 30px;
    height: 30px;
    font-size: 1rem;
    color: #666;
    pointer-events: none;
  }

  & .search-toggle-btn {
    width: 56px;
    height: 56px;
    background-color: #893efb;
    color: white;
    border-radius: 50%;
    transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
    margin-left: auto;
  }

  & .search-toggle-btn:focus,
  & .search-input:focus,
  & .search-submit-btn:focus {
    outline: 2px dotted #893efb;
  }

  & .search-icon-open,
  & .search-icon-close {
    color: white;
    font-size: 1.2rem;
    position: absolute;
    transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
  }

  & .search-icon-close {
    opacity: 0;
  }
}

/* Search animated */
.search.-active {
  width: 100%;

  @media screen and (min-width: 576px) {
    width: 450px;
  }

  & .search-form {
    width: 100%;
    opacity: 1;
    padding: 5px;
  }

  & :is(.search-input, .search-submit-btn) {
    pointer-events: initial;
  }

  & .search-toggle-btn {
    transform: rotate(90deg);
  }

  & .search-icon-open {
    opacity: 0;
  }

  & .search-icon-close {
    opacity: 1;
  }
}

/* Screen reader only */
.sr-only {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
